@mixin btn {
  color: #fff;
  background-color: $brand-primary;
  border-radius: 0;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: $body-font-size;
  padding: 11px 16px;

  @include tablet {
    font-size: 19px;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: lighten($brand-primary, 15%);
    // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba($brand-primary, 0.2);
  }
}

.gform_wrapper .gform_footer input[type=submit]:not(:disabled):not(.disabled),
a.btn {
  @include btn;

  letter-spacing: 0.05rem;

  &.btn-white {
    color: $brand-primary;
    background-color: #fff;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      color: lighten($brand-primary, 10);
    }
  }

  &.btn-lg {
    @include laptop {
      padding: 20px 45px;
    }
  }
}
