section.hero {
  position: relative;
  overflow: hidden;

  &.hero-fp {
    background-position: top left;

    .container {
      height: calc(100vh - 60px);

      @include tablet {
        height: 650px;
      }

      @include desktop {
        height: 800px;
      }

      @include wide {
        height: calc(100vh - 72px);
      }
    }
  }

  .container {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;

    a.btn-lg {
      margin-top: 20px;
    }


    @include phablet {
      background-color: transparent;
    }

    @include laptop {
      height: 350px;
    }

    #typed-strings {
      position: absolute;
      left: 15px;
      top: calc(50% - 35px);

      @include laptop {
        top: calc(50% - 60px);
      }

      p {
        opacity: 0;
        position: absolute;


        &:last-of-type {
          opacity: 1;
          width: 270px;
          font-size: $h2-size;
          font-weight: 900;
          color: $brand-primary;

          @include laptop {
            font-size: $h1-size;
            width: 435px;
          }
        }
      }
    }

    .cta {
      position: relative;
      z-index: 999;

      span.cta-text,
      span#typed,
      .typed-cursor {
        font-size: 24px;
        font-weight: 900;

        @include iphone5 {
          font-size: 26px;
        }

        @include galaxy {
          font-size: 30px;
        }

        @include laptop {
          font-size: $h1-size;
        }
      }

      span.cta-text {
        display: block;
        font-weight: 400;
        line-height: 1;
      }

      .typed-wrapper {
        height: 41px;

        @include laptop {
          height: 70px;
        }
      }

      span#typed,
      .typed-cursor {
        color: $brand-primary;
      }

      a.btn {
        display: block;
        width: 190px;

        @include laptop {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 272px;
          height: 80px;
          font-size: 22px;
        }
      }
    }
  }

  .image-container {
      position: absolute;
      right: 0;
      bottom: -15px;
      perspective: 490px;
      padding-top: 30px;
      right: -60px;
      display: none;

      @include tablet {
        opacity: 1;
        display: block;
      }

      @include laptop {
        padding-top: 60px;

      }

      @include desktop {
        margin-right: -75px;
      }

    img {
      transform: rotateY(-5deg) rotateX(7deg);
      bottom: 0;
      position: relative;
      width: 300px;
      box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.49);
      transition: $base-transition;

      @include laptop {
        width: 300px;
      }

      @include desktop {
        width: 350px;
      }

      @include wide {
        width: 400px;
      }

      &.primary {
        z-index: 998;
        margin-left: -230px;
        margin-right: -230px;


        @include laptop {
          margin-left: -200px;
          margin-right: -200px;
        }

        @include laptop {
          width: 350px;
        }

        @include desktop {
            width: 400px;
        }

        @include wide {
          width: 450px;
        }
      }

      &.left {
        margin-top: 40px;

        @include tablet {
          margin-top: 60px;
        }

        @include desktop {
          margin-top: 100px;
        }
      }


      &.right {
        margin-top: 30px;

        @include tablet {
          margin-top: 50px;
        }
      }
    }
  }
}
