section.fp-section {
  padding: 30px 0;

  @include laptop {
    padding: 60px 0;
  }

  @include desktop {
    padding: 140px 0;
  }

  .container {
    @include wide {
      max-width: 1170px;
    }

    @include hd {
      max-width: 1170px;
    }
  }

  h1 {
    margin-bottom: 15px;
    text-align: center;

    @include tablet {
      margin-bottom: 30px;
    }

    @include laptop {
      margin-bottom: 45px;
    }

    @include desktop {
      margin-bottom: 85px;
    }
  }

  &.section1 {
    position: relative;
    overflow: hidden;
    padding: 0 !important;

    @include tablet {
      overflow: visible;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 0.5;
      height: 100%;
      width: auto;

      @include tablet {
        height: 300px;
        position: relative;
        opacity: 1;
      }

      @include desktop {
        height: 486px;
      }

      @include hd {
        height: auto;
        width: 50%;
      }
    }

    p,
    h1 {
      color: #fff;
      margin-bottom: 0.5rem;
      text-align: left;

      @include desktop {
        max-width: 650px;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      z-index: 999;
      background: rgba($brand-primary, 0.9);
      background: linear-gradient(138deg, rgba($brand-primary, 0.9) 50%, rgba($brand-primary, 0.7) 100%);
      padding: 30px 15px;

      a.btn {
        margin-top: 25px;
      }

      @include tablet {
        position: absolute;
        padding: 30px;
        top: -35px;
        bottom: -35px;
        right: 0;
        background: $brand-primary;
        width: 66%;
      }

      @include laptop {
        padding: 60px;
      }


      @include desktop {
        padding: 140px;
        width: 813px;
      }

      @include wide {
        width: 55%;
      }
    }
  }

  &.section2 {
    @include tablet {
      .container {
        padding-top: 35px;
      }
    }

    .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px 15px;

      @include tablet {
        padding: 0 15px;
      }

      i,
      h2,
      p {
        margin-bottom: 15px;

        @include tablet {
          margin-bottom: 30px;
        }
      }

      i {
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 180px;
        color: #fff;
        background-color: $brand-primary;
        height: 156px;
        width: 156px;
      }

      h2 {
        font-weight: 600;
      }

      a.link {
        font-weight: 600;
        position: relative;
        transition: 0.3s;

        @include laptop {
          font-size: $h3-size;
        }

        &::after {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          background-color: $brand-primary;
          height: 2px;
          top: calc(100% - 5px);
          transition: 0.3s;
        }

        &:hover,
        &:focus {
          color: $brand-hover;

          &::after {
            background-color: $brand-hover;
          }
        }
      }
    }
  }

  &.section3 {
    h1 {
      color: #fff;
    }

    .col-sm-6 {
      padding-bottom: 20px;

      .cardstyle {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 100%;
        padding: 15px;
        position: relative;

        i,
        h3,
        p {
          margin-bottom: 15px;
        }

        i {
          font-size: 36px;
        }

        @include laptop {
          padding: 20px 20px;
        }

        @include desktop {
          padding: 35px 50px;
        }
      }

      @include mobile {
        padding-bottom: 30px;
      }

      .cardstyle::after {
        display: block;
        position: absolute;
        content: " ";
        border-top: 15px solid white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: 100%;
        // left: calc(50% - 20px);
        width: 0;
        height: 0;
      }

      @include phablet {
        .cardstyle::after {
          // left: 100%;
          top: calc(50% - 20px);
        }
      }

      &:last-of-type() {
        .cardstyle::after {
          display: none;
        }
      }

      @include phablet {
        &:nth-of-type(1),
        &:nth-of-type(5) {
          .cardstyle::after {
            left: 100%;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 15px solid white;
          }
        }

        &:nth-of-type(4) {
          .cardstyle::after {
            display: block;
            right: 100%;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 15px solid white;
          }
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          .cardstyle::after {
            top: 100%;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-top: 15px solid white;
          }
        }

        &:last-of-type() {
          .cardstyle::after {
            display: none;
          }
        }
      }

      @include tablet {
        &:nth-of-type(2) {
          .cardstyle::after {
            left: 100%;
            top: calc(50% - 20px);
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 15px solid white;
          }
        }

        &:nth-of-type(4) {
          .cardstyle::after {
            display: none;
          }
        }

        &:nth-of-type(5),
        &:last-of-type {
          .cardstyle::after {
            display: block;
            right: 100%;
            left: auto;
            border-left: transparent;
            top: calc(50% - 20px);
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 15px solid white;

          }
        }
      }
    }
  }

  &.section4 {
    .portfolio-single {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        padding: 0 15px;
      }

      img {
        height: auto;
        width: 100%;

        @include tablet {
          width: 300px;
        }

        @include laptop {
          width: 516px;
        }
      }

      &-inner {
        padding: 15px;

        @include desktop {
          padding: 60px;
        }

        span.subtitle {
          color: $brand-primary;
          font-size: 19px;
          display: block;
          margin-bottom: 15px;
        }
      }
    }

    .slider-nav {
      position: relative;
      height: 15px;

      @include tablet {
        height: 60px;
      }

      ul.slick-dots {
        bottom: 0;
      }

      li {
        &:hover,
        &:focus {
          button {
            background-color: rgba($brand-primary, 0.5);
          }
        }

        button {
          border-radius: 45px;
          border: solid 2px $brand-primary;
          transition: 0.3s;

          &::before {
            display: none;
          }
        }

        &.slick-active button {
          background-color: $brand-primary;
        }
      }
    }
  }

  &.section5 {
    background-color: #3a3a3a;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .testimonial-slick {
      width: 100%;

      i.slick-arrow {
        position: absolute;
        display: block;
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        font-weight: 900;
        top: 45%;
        font-size: 20px;
        color: #fff;
        background-color: $brand-primary;
        z-index: 999;
        cursor: pointer;
        transition: 0.3s;

        &:hover,
        &:focus {
          background-color: $brand-hover;
        }

        &.fa-chevron-left {
          left: 0;
        }

        &.fa-chevron-right {
          right: 0;
        }

        @include desktop {
          height: 108px;
          width: 108px;
          line-height: 108px;
          font-size: 60px;
        }
      }
    }

    h1,
    h2,
    p,
    i {
      color: #fff;
    }

    i {
      font-weight: 400;
    }

    .testimonial-wrap {
      display: flex;
      justify-content: center;
    }

    .testimonial-single {
      max-width: 712px;
    }

    .img-wrap,
    p {
      margin-bottom: 15px;

      @include tablet {
        margin-bottom: 30px;
      }

      @include laptop {
        margin-bottom: 45px;
      }
    }

    .img-wrap {
      height: 132px;
      width: 132px;
      border-radius: 180px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .testimonial-single {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .name-wrap {
        display: flex;
        text-align: left;

        i.fas {
          align-self: flex-start;
          color: $brand-primary;
          font-weight: 900;
          font-size: 60px;
        }

        &-inner {
          padding-left: 15px;
        }
      }
    }
  }
}
