.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  a.brand {
    position: relative;

    img {
      position: relative;
      z-index: 999;
    }

    &::before,
    &::after {
      position: absolute;
      content: " ";
    }

    &::before {
      left: 0;
      right: 100%;
      transition: 0.3s;
      background: linear-gradient(to right, $brand-primary, lighten($brand-primary, 20%));
      height: 2px;
      top: calc(100% - 3px);
    }

    &::after {
      background-color: white;
      height: 5px;
      width: 9px;
      left: 51px;
      top: calc(100% - 4px);
    }

    &:hover,
    &:focus {
      &::before {
        right: 0;
      }
    }
  }

  nav.nav-primary {
    display: none;

    @include laptop {
      display: block;
    }

    ul {
      li {
        padding: 0;

        a {
          display: block;
          color: #000;
          font-size: 19px;
          padding: 27px 15px;
          line-height: 1;

          @include desktop {
            padding: 27px 20px;
          }
        }

        &.contact {
          a {
            background-color: $brand-primary;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
          }

          @include desktop {
            padding-left: 10px;

            a {
              padding-left: 30px;
              padding-right: 30px;  
            }
          }
        }
      }
    }
  }
}
