.blog-wrap {
  background-color: #efefef;
  border-bottom: solid 10px #fff;
}

.posts-container {
  padding: 30px 0;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  > h1 {
    margin-bottom: 30px;
    padding: 0 15px;
  }

  @include tablet {
    padding: 30px 15px;

    > h1 {
      padding: 0;
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  @include laptop {
    padding: 60px 15px;
  }

  @include desktop {
    padding: 140px 0;
  }


  .cardstyle,
  article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;

    @include laptop {
      padding: 25px;
      margin-bottom: 30px;
    }
  }

  article {
    .img-wrap {
      height: 150px;
      margin-bottom: 15px;

      @include laptop {
        height: 250px;
        margin-bottom: 25px;
      }
    }
  }

  .cardstyle {
    .widget {
      margin-bottom: 15px;

      @include laptop {
        margin-bottom: 25px;
      }
    }
  }
}

.primary_pagination {
  span.page-numbers,
  a.page-numbers {
    padding: 4px 12px;
    background-color: #fff;
    transition: 0.3s;
    display: inline-block;
    margin: 0 3px;
  }

  a.page-numbers {
    &:hover,
    &:focus {
      background-color: $brand-hover;
      color: #fff;
    }
  }
}

body.search {
  @include bg-textured;

  h1 {
    i {
      color: $brand-primary;
    }
  }

  h3.search-type {
    text-transform: capitalize;
    font-size: 16px;
    color: #777;
  }

  .container-404 {
    h1 {
      text-align: center;
      margin-bottom: 0;
    }

    .search-form {
      margin-top: 15px;
      margin-bottom: 15px;

      label {
          margin-bottom: 0;
      }
    }

    button.btn-lg {
      background-color: #333;

      &:hover,
      &:focus {
        background-color: #666;
      }


    }
  }
}
